<!DOCTYPE html>
<html>
    <head>
        <title>{{pageTitle}}</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        {{> header}}
        <main>
            <p>We'll be back soon.</p>
        </main>
        {{> footer}}
    </body>
</html>